body {
  margin: 0;
  overflow: hidden;
  background: black;
  cursor: default;
  user-select: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
  z-index: 2;
}

.blackout.transformed {
  transform: translateY(-100%);
  transition: transform 1s ease-out;
}

.blackout.left {
  transform: translateX(-100%);
}

.blackout.right {
  transform: translateX(100%);
}

.blackout.active {
  transform: translateY(0);
}

/* Main menu styles */
.heading {
  margin: 0;
  line-height: 0;
  font-size: 10em;
}

.container {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 5em;
  padding-left: 14em;
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
  transform: perspective(500px) rotateY(12deg);
}

.select {
  min-width: 500px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.select > h1 {
  font-size: 3em;
  margin: 0;
  transform: translateX(0);
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

.select > h1:hover {
  transform: translateX(12px);
}

/* Loading and waiting indicators */
#loading {
  position: absolute;
  z-index: 5;
  bottom: 50px;
  right: 50px;
  animation: cycle-rotate 1s infinite;
  transform: rotate(0);
  opacity: 0;
  transition: opacity 0.5s ease;
}

#loading.active {
  opacity: 1;
}

#waiting {
  position: absolute;
  z-index: 5;
  bottom: 55px;
  right: 175px;
  font-size: 16pt;
}

#waiting:not(.active) {
  opacity: 0 !important;
}

#waiting.active {
  animation: cycle-opacity 3s infinite;
}

@keyframes cycle-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cycle-opacity {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#ui {
  position: absolute;
  pointer-events: none;
  background: transparent;
  width: 100%;
  height: 100%;
}

#ammo {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 32pt;
  margin: 0;
  opacity: 0;
}

#ammo.active {
  opacity: 1;
}

.bullet {
  display: inline-block;
  margin-right: 10px;
  height: 32px;
}

/* Flight ended styles */
svg {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
}
